*{
    padding:10px;
    margin:10px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    // border: 2px solid black;
}
$font-light:beige;
$font-dark:black;

#dino{
    height:45px;
    width:45px;
    position: relative;
     background-color:green ;
    background-image: url(https://raw.githubusercontent.com/kriscfoster/chrome-dino-game/master/dino.png);
    background-size: cover;
}   

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $font-light;
    border: 2px solid black;
    background-image: url('https://st4.depositphotos.com/1832477/24991/v/450/depositphotos_249912732-stock-illustration-quiz-banner-with-yellow-neon.jpg');
    //  background-repeat: no-repeat;
     background-size: cover;
 }

.score{
    color: $font-light;
    font-weight: 200px;
    font-size: 50px; 
} 
 .btn{
    font-size: 20px;
    background-color: blue;
    color: $font-light;
    box-sizing: 0 0 10px 2px;
     }

.btn-option{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 50px;
    width:500px;
    max-width: 500px;
}     

.btn:hover,
.btn-option:hover{
    cursor:pointer;
    box-shadow: 0 0.4rem 1.4rem 0;
    // transition: transform 150ms;
    // transform: scale 1.03;
}

.content{
    font-size: larger;
    color: $font-light;
}

// body {
//     line-height:1;
// }

// article,aside,details,figcaption,figure,
// footer,header,hgroup,menu,nav,section { 
//     display:block;
// }

// nav ul {
//     list-style:none;
// }

// blockquote, q {
//     quotes:none;
// }

// blockquote:before, blockquote:after,
// q:before, q:after {
//     content:'';
//     content:none;
// }
// /*end of default style resetting*/

// h1 {
//   font-size: 20vw;
//   font-family: 'Chonburi', cursive;
// }

// .ui-widget-header {
//     background-image: none !important;
//     background-color: #2ECC71 !important; 
// }

// label{
//   display: inline;
// }  

// h3, #next {
//   text-align: center;
//   display: inline-block;
//   border-radius: 10%;
// }

// #result {
//   font-family: 'Press Start 2P', cursive !important;
//   font-weight: bold;
//   font-size: 1.5em;
//   color: #036;
// }

// input[name="option"] {
//   float:left;
  
// }

// #form div{
//   margin:auto;
//   max-width: 205px;
// }

// #progressbar {
//   margin: auto;
//   margin-top: 20px;
//   float: none; 
//   width: 50%;
//  }

// #container {
//   text-align: center;
// }

// input, select {
//     vertical-align:middle;
// }

// .button {
//     display: inline-block;
//     padding: 1em;
//     background-color: #79BD9A;
//     text-decoration: none !important; 
//     color: white !important;
// } 
// body{
//   text-align: center;
// }

// .progress-bar {
//   float: left;
//   width: 0;
//   /*height: 100%;*/
//   font-size: 12px;
//   line-height: 20px;
//   color: #fff;
//   text-align: center;
//   background-color: #337ab7;
//   -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
//           box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
//   -webkit-transition: width .6s ease;
//        -o-transition: width .6s ease;
//           transition: width .6s ease;
// }