*{
    padding:10px;
    margin:10px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    // border: 2px solid black;
}
$font-light:beige;
$font-dark:black;

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
#clock{
    height:75px;
    width:65px;
    position: relative;
    // background-color:green ;
    background-image: url(https://www.bing.com/th?id=OIP.7yCkUXARBWh0_bwPtEbhPwHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&dpr=2&pid=3.1&rm=2);
    background-size: cover;
    animation: clock 3.5s infinite linear;
}   

@keyframes clock{
    0%{left: 80px;}
    20%{left: 160px;}
    40%{left:240px;}
    60%{left:320px;}
    80%{left:400px;}
    // 100%{left: 600px;}
}

// .hidden { display: none; }
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $font-light;
    border: 2px solid black;
    background-image: url('https://st4.depositphotos.com/1832477/24991/v/450/depositphotos_249912732-stock-illustration-quiz-banner-with-yellow-neon.jpg');
    //  background-repeat: no-repeat;
     background-size: cover;
 }

.score{
    color: $font-light;
    font-weight: 200px;
    font-size: 50px; 
} 
 .btn{
    font-size: 20px;
    background-color: blue;
    color: $font-light;
    box-sizing: 0 0 10px 2px;
     }

.btn-option{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 50px;
    width:500px;
    max-width: 500px;
}     

.btn:hover,
.btn-option:hover{
    cursor:pointer;
    box-shadow: 0 0.4rem 1.4rem 0;
    // transition: transform 150ms;
    // transform: scale 1.03;
}

.content{
    font-size: 30px;
    color: $font-light;
}

